In [33]:
import pandas as pd
import numpy as np

In [34]:
ems = pd.read_csv('../data/emssubsample_clean.csv')

In [35]:
ems.head()

,CAD_INCIDENT_ID,INITIAL_SEVERITY_LEVEL_CODE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,...,CALL_MONTH_FEB,CALL_MONTH_JAN,CALL_MONTH_JUL,CALL_MONTH_JUN,CALL_MONTH_MAR,CALL_MONTH_MAY,CALL_MONTH_NOV,CALL_MONTH_OCT,CALL_MONTH_SEP,CALL_MONTH
0,110011884,4,4,9.0,1,9,16.0,1,480.0,471.0,...,0,1,0,0,0,0,0,0,0,1
1,110013013,6,6,28.0,1,28,127.0,1,674.0,646.0,...,0,1,0,0,0,0,0,0,0,1
2,110014121,4,4,10.0,1,10,19.0,1,399.0,389.0,...,0,1,0,0,0,0,0,0,0,1
3,110015204,2,2,16.0,1,16,44.0,1,272.0,256.0,...,0,1,0,0,0,0,0,0,0,1
4,110020794,4,6,27.0,1,27,46.0,1,920.0,893.0,...,0,1,0,0,0,0,0,0,0,1

In [36]:
ems['CALL_MONTH'].dtype

dtype('int64')

In [37]:
ems['CALL_DAY'].dtype

dtype('int64')

In [38]:
ems['CALL_YEAR'].dtype

dtype('int64')

In [39]:
weather = pd.read_csv('../data/cntrlprk_weather.csv')

In [40]:
weather.head()

,Unnamed: 0,STATION,NAME,DATE,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,YEAR,MONTH,DAY,TAVG_CALC
0,0,USW00094728,"NY CITY CENTRAL PARK, NY US",2005-01-01,8.50,0.00,0.0,0.0,60.0,40.0,2005,1,1,50.0
1,1,USW00094728,"NY CITY CENTRAL PARK, NY US",2005-01-02,7.83,0.00,0.0,0.0,50.0,37.0,2005,1,2,43.5
2,2,USW00094728,"NY CITY CENTRAL PARK, NY US",2005-01-03,5.59,0.45,0.0,0.0,58.0,49.0,2005,1,3,53.5
3,3,USW00094728,"NY CITY CENTRAL PARK, NY US",2005-01-04,4.25,0.06,0.0,0.0,51.0,46.0,2005,1,4,48.5
4,4,USW00094728,"NY CITY CENTRAL PARK, NY US",2005-01-05,6.49,0.28,0.0,0.0,46.0,35.0,2005,1,5,40.5

In [41]:
weather.drop(columns=['Unnamed: 0','STATION','NAME','DATE'], inplace=True)

In [42]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AWND       5620 non-null   float64
 1   PRCP       5847 non-null   float64
 2   SNOW       5847 non-null   float64
 3   SNWD       5847 non-null   float64
 4   TMAX       5847 non-null   float64
 5   TMIN       5847 non-null   float64
 6   YEAR       5847 non-null   int64
 7   MONTH      5847 non-null   int64
 8   DAY        5847 non-null   int64
 9   TAVG_CALC  5847 non-null   float64
dtypes: float64(7), int64(3)
memory usage: 456.9 KB

In [43]:
ems_weather = pd.merge(ems, weather,  how='left', left_on=['CALL_MONTH','CALL_DAY','CALL_YEAR'], right_on = ['MONTH','DAY','YEAR'])

In [44]:
ems_weather.head()

,CAD_INCIDENT_ID,INITIAL_SEVERITY_LEVEL_CODE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,...,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,YEAR,MONTH,DAY,TAVG_CALC
0,110011884,4,4,9.0,1,9,16.0,1,480.0,471.0,...,3.13,0.00,0.0,12.0,53.0,40.0,2011,1,1,46.5
1,110013013,6,6,28.0,1,28,127.0,1,674.0,646.0,...,3.13,0.00,0.0,12.0,53.0,40.0,2011,1,1,46.5
2,110014121,4,4,10.0,1,10,19.0,1,399.0,389.0,...,3.13,0.00,0.0,12.0,53.0,40.0,2011,1,1,46.5
3,110015204,2,2,16.0,1,16,44.0,1,272.0,256.0,...,3.13,0.00,0.0,12.0,53.0,40.0,2011,1,1,46.5
4,110020794,4,6,27.0,1,27,46.0,1,920.0,893.0,...,5.14,0.01,0.0,9.0,52.0,35.0,2011,1,2,43.5

In [45]:
ems_weather.drop(columns=['MONTH','DAY','YEAR'], inplace=True)

In [46]:
ems_weather.head()

,CAD_INCIDENT_ID,INITIAL_SEVERITY_LEVEL_CODE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,...,CALL_MONTH_OCT,CALL_MONTH_SEP,CALL_MONTH,AWND,PRCP,SNOW,SNWD,TMAX,TMIN,TAVG_CALC
0,110011884,4,4,9.0,1,9,16.0,1,480.0,471.0,...,0,0,1,3.13,0.00,0.0,12.0,53.0,40.0,46.5
1,110013013,6,6,28.0,1,28,127.0,1,674.0,646.0,...,0,0,1,3.13,0.00,0.0,12.0,53.0,40.0,46.5
2,110014121,4,4,10.0,1,10,19.0,1,399.0,389.0,...,0,0,1,3.13,0.00,0.0,12.0,53.0,40.0,46.5
3,110015204,2,2,16.0,1,16,44.0,1,272.0,256.0,...,0,0,1,3.13,0.00,0.0,12.0,53.0,40.0,46.5
4,110020794,4,6,27.0,1,27,46.0,1,920.0,893.0,...,0,0,1,5.14,0.01,0.0,9.0,52.0,35.0,43.5

In [47]:
ems_weather.to_csv('../data/ems_weather.csv')

In [1]:
# don't get in the ambulance that is very expensive